# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libs
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libs
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
libs/*
src/source-libs/*
.clang-format
.cmake/
.idea
.ninja_deps
.ninja_log
DartConfiguration.tcl
build.ninja
cmake-build-default-coverage
cmake-build-debug